body {
  background-image: url("sea.jpg");
  background-size: cover;
}

div {
  background: #ffffff;
  text-align: center;
  width: 400px;
  padding: 10px;
  margin: 30px auto;
}

.total_stoc {
  background: #ffffff;
  text-align: center;
  width: 1000px;
  padding: 10px;
  margin: 30px auto;
}
