<!DOCTYPE html>
<html>
  <head>
    <title>add</title>
    <script src="static/today.js"></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='title_page.css')}}">
  </head>
  <body>
    <div>
      <p1>品名と入庫数を入力してください</p1>
      <form action="/add_confirmation" method="POST">
        <b>品名</b><input type="text" name="name"></input><br>
        <b>個数</b><input type="text" name="quantity"></input><br>
        <b>日付</b><input type="date" name="date" id="today"></input><br>
        <input type="submit" value="Enter">
      </form>
      <br>
      <form action="/inventory_control" method="POST">
        <input type="submit" value="back">
      </form>
    </div>
  </body>
</html>
