<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <title>inventory_change</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='title_page.css')}}">
  </head>
  <body>
    <div class='total_stoc'>
    　<h1>在個推移</h1>
      <img src="static/inventory_change.png">
      <br>
      <form action="/main" method="POST">
        <input type="submit" value="confirmed">
      </form>
    </div>
  </body>
</html>
