<!DOCTYPE html>
<html>
  <head>
    <title>inventory_change</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='title_page.css')}}">
  </head>
  <body>
    <div>
      <p1>表示する品名を入力してください</p1>
      <form action="/inventory_change_confirmation" method="POST">
        <b>品名</b><input type="text" name="name"></input><br>
        <input type="submit" value="Enter">
      </form>
      <br>
      <form action="/graph_select" method="POST">
        <input type="submit" value="back">
      </form>
    </div>
  </body>
</html>
